<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.microitindustry.khatasystem">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:hardwareAccelerated="true"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.KhataSystem">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-9867884627688082~9840789244" />


        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PaymentActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ViewCustomerPayActivity" />
        <activity
            android:name=".DeveloperInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserLedger"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViewCustomerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddCustomerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>